.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
    padding: 16px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    padding: 16px;
}

.grid-item {
    display: flex;
    justify-content: center; 
    align-items: center; 
}